<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1 id="introduction">Introduction to <%= site_name %> <a href="#introduction">#</a> </h1> <p>We are New Zealanders who have formed a union to stand up for hardworking New Zealand taxpayers. We represent the common interests of all taxpayers. We want to become New Zealand's largest union.

We are not a political party, and we don't represent big business or special interests. When we launched all of our donations were from individuals. Joining the New Zealand Taxpayers' Union only takes a few minutes and costs $5. Membership entitles you to attend our annual conference, AGM and other events, and to get regular communications from the Taxpayers' Union.</p>
</div>


